.header {
  display: grid;
  grid-template-columns: calc((100vw - 65rem) / 2) 1fr 4fr 1fr calc((100vw - 65rem) / 2);
  grid-template-rows: auto;
  grid-template-areas: 
    '. title string . .'
    '. controls settings options .';
  grid-row-gap: var(--size-02);
  padding-top: var(--size-01);
}
@media all and (max-width: 1084px) {
  .header {
    grid-template-columns: calc((100vw - 55rem) / 2) 1fr 3fr 1fr calc((100vw - 55rem) / 2);
  }
}
@media all and (max-width: 920px) {
  .header {
    grid-template-columns: auto;
    grid-template-areas: 
      'title title'
      'string string'
      'settings settings'
      'controls options';
  }
}

/* -------------------------------------------------------------------------- */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  margin: -1px;
}

.no-transitions * {
  transition: none !important;
}

/* -------------------------------------------------------------------------- */

#title {
  font-size: calc(var(--size-01) * var(--mod));
  font-weight: 400;
  grid-area: title;
  margin-top: 0.25em;
}
@media all and (max-width: 920px) {
  #title {
    font-size: var(--size-01);
    margin-top: 0;
    margin-right: var(--size-01);
    margin-left: var(--size-01);
  }
}

#input-form {
  grid-area: string;
  margin-right: var(--size-01);
  margin-left: var(--size-01);
}

#settings {
  grid-area: settings;
  margin-right: var(--size-01);
  margin-left: var(--size-01);
}

#controls {
  grid-area: controls;
}
@media all and (max-width: 920px) {
  #controls {
    margin-right: var(--size-01);
    margin-left: var(--size-01);
  }
}

#options {
  grid-area: options;
}
@media all and (max-width: 920px) {
  #options {
    margin-right: var(--size-01);
    margin-left: var(--size-01);
  }
}

#metrics {
  position: absolute;
  left: -50rem;
}

/* -------------------------------------------------------------------------- */

.field {
  font-size: 1em;
  font-family: var(--ff-02);
  color: var(--cc-field-fg);
  width: 100%;
  padding: 0.3em 0.5em;
  background-color: var(--cc-field-bg);
  border: 1px solid var(--cc-field-border);
}
.field:focus {
  outline: none;
  border-color: var(--cc-field-border-F);
}

.field-hint {
  display: flex;
  margin-top: 0.25em;
}

.field-hint-link {
  font-size: var(--size-02);
  text-decoration: none;
  color: var(--cc-label-secondary);
  margin-left: auto;
}
.field-hint-link::after {
  content: ' →';
}

#input-field {
  display: block;
  text-align: center;
}

#font-settings-field {
  display: block;
  font-size: calc(var(--size-01) / var(--mod));
  line-height: 1.65;
  resize: vertical;
}
#font-settings-field.autosize {
  overflow-y: hidden;
  resize: none;
}

/* -------------------------------------------------------------------------- */

.control + .control  {
  margin-top: calc(var(--size-02) / 2);
}

.control .label {
  user-select: none;
  display: block;
  font-size: var(--size-02);
  font-feature-settings: 'smcp', 'c2sc';
}

.slider {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  padding: 6px 0;
  background: transparent;
}
.slider:focus {
  outline: none;
}
.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: var(--cc-slider-track);
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.slider::-moz-range-track {
  width: 100%;
  height: 2px;
  background: var(--cc-slider-track);
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.slider::-ms-track {
  color: transparent;
  width: 100%;
  height: 2px;
  background: var(--cc-slider-track);
  border-color: transparent;
  box-shadow: none;
}
.slider::-ms-fill-lower {
  background: var(--cc-slider-track);
}
.slider::-ms-fill-upper {
  background: var(--cc-slider-track);
}
.slider:focus::-webkit-slider-runnable-track {
  background: var(--cc-slider-track-F);
}
.slider:focus::-moz-range-track {
  background: var(--cc-slider-track-F);
}
.slider:focus::-ms-fill-lower {
  background: var(--cc-slider-track-F);
}
.slider:focus::-ms-fill-upper {
  background: var(--cc-slider-track-F);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background: var(--cc-slider-thumb-bg);
  border: 1px solid var(--cc-slider-thumb-border);
  border-radius: 14px;
  box-shadow: none;
  margin-top: -6px;
}
.slider::-moz-range-thumb {
  -moz-appearance: none;
  height: 14px;
  width: 14px;
  background: var(--cc-slider-thumb-bg);
  border: 1px solid var(--cc-slider-thumb-border);
  border-radius: 14px;
  box-shadow: none;
  margin-top: -6px;
}
.slider::-ms-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background: var(--cc-slider-thumb-bg);
  border: 1px solid var(--cc-slider-thumb-border);
  border-radius: 14px;
  box-shadow: none;
  margin-top: -6px;
}

/* -------------------------------------------------------------------------- */

.preference + .preference {
  margin-top: 0.3em;
}

.option {
  position: relative;
}

.option + .option {
  margin-top: 0.2em;
}

.radios {
  display: flex;
  align-items: baseline;
  padding-top: 3px;
}

.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  margin: -1px;
}

.radio-label {
  user-select: none;
  position: relative;
  display: inline-block;
  font-size: var(--size-02);
  vertical-align: baseline;
  padding-left: 22px;
  top: -0.3em;
  cursor: default;
}

.radios-label {
  user-select: none;
  position: relative;
  font-size: var(--size-02);
  vertical-align: baseline;
  margin-right: 0.5em;
  cursor: default;
  top: -0.3em;
}

.radio + .radio-label::before {
  position: absolute;
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  background-color: var(--cc-checkbox-bg);
  border: 1px solid var(--cc-checkbox-border);
  vertical-align: baseline;
  top: -2px;
  left: 0;
}
.radio + .radio-label::before {
  border-radius: 50%;
}
.radio:focus + .radio-label::before {
  border-color: var(--cc-checkbox-border-F);
}
.radio:active + .radio-label::before {
  background-color: var(--cc-checkbox-bg-A);
}

.radio + .radio-label::after {
  position: absolute;
  display: none;
  content: '';
  width: 8px;
  height: 8px;
  background-color: var(--cc-checkbox-radio-dot);
  border-radius: 50%;
  top: 3px;
  left: 5px;
}
.radio:checked + .radio-label::after {
  display: block;
}

/* -------------------------------------------------------------------------- */

.content {
  margin-top: calc(var(--size-01) * var(--mod));
  margin-bottom: calc(var(--size-01) * var(--mod));
}

#matrix {
  --setting-font-size: 2rem;
  --setting-column-spacing: 1.5em;
  --setting-row-spacing: 0.5em;
  font-size: var(--setting-font-size);
  line-height: 1;
  margin-right: auto;
  margin-left: auto;
  padding: 0.25em 0.5em;
}

.cell-view {
  white-space: pre;
}
.cell-view + .cell-view {
  padding-left: var(--setting-column-spacing);
}
.row-view + .row-view .cell-view {
  padding-top: var(--setting-row-spacing);
}

.cell-text-view {
  font-family: 'Adobe NotDef';
}
.cell-text-view.fallback-font {
  color: var(--cc-row-label-fg);
}
