.header {
	display: grid;
	grid-template-columns: calc((100vw - 65rem) / 2) 1fr 4fr 1fr calc((100vw - 65rem) / 2);
	grid-template-rows: auto;
	grid-template-areas: 
		'. title string . .'
		'. controls settings options .';
	grid-row-gap: var(--size-02);
	padding-top: var(--size-01);
}

/* -------------------------------------------------------------------------- */

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: -1px;
}

.no-transitions * {
	transition: none !important;
}

/* -------------------------------------------------------------------------- */

#title {
	font-size: calc(var(--size-01) * var(--mod));
	font-weight: 400;
	grid-area: title;
	margin-top: 0.25em;
}

#display-string-form {
	grid-area: string;
	margin-right: var(--size-01);
	margin-left: var(--size-01);
}

#controls {
	grid-area: controls;
}

#settings {
	grid-area: settings;
	margin-right: var(--size-01);
	margin-left: var(--size-01);
}

#options {
	grid-area: options;
}

#metrics {
	position: absolute;
	left: -50rem;
}

/* -------------------------------------------------------------------------- */

.field {
	font-size: 1em;
	font-family: var(--ff-02);
	color: var(--cc-field-fg);
	width: 100%;
	padding: 0.3em 0.5em;
	background-color: var(--cc-field-bg);
	border: 1px solid var(--cc-field-border);
}
.field:focus {
	outline: none;
	border-color: var(--cc-field-border-F);
}

.field-hint {
	display: flex;
	margin-top: 0.25em;
}

.field-hint-link {
	font-size: var(--size-02);
	text-decoration: none;
	color: var(--cc-label-secondary);
	margin-left: auto;
}
.field-hint-link::after {
	content: ' →';
}

.control + .control  {
	margin-top: calc(var(--size-02) / 2);
}

.control .label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: block;
	font-size: var(--size-02);
}

.control .slider {
	display: block;
	width: 100%;
}

#display-string-field {
	display: block;
	text-align: center;
}

#font-settings-field {
	display: block;
	font-size: calc(var(--size-01) / var(--mod));
	line-height: 1.65;
	resize: vertical;
}
#font-settings-field.autosize {
	overflow-y: hidden;
	resize: none;
}

/* -------------------------------------------------------------------------- */

.slider {
	-webkit-appearance: none;
	width: 100%;
	padding: 6px 0;
	background: transparent;
}
.slider:focus {
	outline: none;
}
.slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	background: var(--cc-slider-track);
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.slider::-moz-range-track {
	width: 100%;
	height: 2px;
	background: var(--cc-slider-track);
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.slider::-ms-track {
	color: transparent;
	width: 100%;
	height: 2px;
	background: var(--cc-slider-track);
	border-color: transparent;
	box-shadow: none;
}
.slider::-ms-fill-lower {
	background: var(--cc-slider-track);
}
.slider::-ms-fill-upper {
	background: var(--cc-slider-track);
}
.slider:focus::-webkit-slider-runnable-track {
	background: var(--cc-slider-track-F);
}
.slider:focus::-moz-range-track {
	background: var(--cc-slider-track-F);
}
.slider:focus::-ms-fill-lower {
	background: var(--cc-slider-track-F);
}
.slider:focus::-ms-fill-upper {
	background: var(--cc-slider-track-F);
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 14px;
	width: 14px;
	background: var(--cc-slider-thumb-bg);
	border: 1px solid var(--cc-slider-thumb-border);
	border-radius: 14px;
	box-shadow: none;
	margin-top: -6px;
}
.slider::-moz-range-thumb {
	-moz-appearance: none;
	height: 14px;
	width: 14px;
	background: var(--cc-slider-thumb-bg);
	border: 1px solid var(--cc-slider-thumb-border);
	border-radius: 14px;
	box-shadow: none;
	margin-top: -6px;
}
.slider::-ms-thumb {
	-webkit-appearance: none;
	height: 14px;
	width: 14px;
	background: var(--cc-slider-thumb-bg);
	border: 1px solid var(--cc-slider-thumb-border);
	border-radius: 14px;
	box-shadow: none;
	margin-top: -6px;
}

/* -------------------------------------------------------------------------- */

.option {
	position: relative;
}

.checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: -1px;
}

.checkbox + .checkbox-box {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: var(--cc-checkbox-bg);
	border: 1px solid var(--cc-checkbox-border);
	vertical-align: baseline;
}
.checkbox:focus + .checkbox-box {
	border-color: var(--cc-checkbox-border-F);
}
.checkbox:active + .checkbox-box {
	background-color: var(--cc-checkbox-bg-A);
}
.checkbox + .checkbox-box::after {
	position: absolute;
	display: none;
	content: '';
	width: 16px;
	height: 17px;
	background: url(check.svg) 0 0 / 16px 17px no-repeat;
	top: -3px;
	left: 4px;
}
.checkbox:checked + .checkbox-box::after {
	display: block;
}

.checkbox + * + .checkbox-label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	display: inline-block;
	font-size: var(--size-02);
	vertical-align: baseline;
	top: -0.3em;
}

/* -------------------------------------------------------------------------- */

.content {
	margin-top: calc(var(--size-01) * var(--mod));
	margin-bottom: calc(var(--size-01) * var(--mod));
}

#matrix {
	--setting-font-size: 2rem;
	--setting-column-spacing: 1.5em;
	--setting-row-spacing: 0.5em;
	font-size: var(--setting-font-size);
	line-height: 1;
	margin-right: auto;
	margin-left: auto;
	padding: 0.25em 0.5em;
}

.cell-view {
	white-space: pre;
}
.cell-view + .cell-view {
	padding-left: var(--setting-column-spacing);
}
.row-view + * + .row-view .cell-view {
	padding-top: var(--setting-row-spacing);
}

.cell-text-view.fallback-font {
	color: var(--cc-row-label-fg);
}

.label-row-view {
	text-align: center;
}

.label-view {
	font-size: var(--size-01);
}

.label-text-view {
	display: block;
	color: var(--cc-cell-fallbackfont-fg);
	height: 0;
	padding-top: calc(0.25em + var(--setting-row-spacing) / 2);
	overflow: hidden;
	transition: height 250ms;
}
.show-font-labels .label-text-view {
	height: calc(2.25em + var(--setting-row-spacing) / 2);
}
