@font-face {
	font-family: 'Adobe NotDef';
	src: url('../fonts/and-regular.woff2') format('woff2'), url('../fonts/and-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--ff-01: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Ubuntu', sans-serif;
	--ff-02: 'SFMono-Regular', 'Menlo', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Liberation Mono', 'Consolas', monospace, var(--ff-01);
	/* sizing */
	--mod: 1.2;
	--size-01: 1rem;
	--size-02: calc(var(--size-01) / var(--mod));
	/* monochrom palette */
	--cc-A: #fdfdfd;
	--cc-A-a1: #f2f2f2;
	--cc-C: #aaa;
	--cc-C-a1: #999;
	--cc-D-d1: #777;
	--cc-D: #666;
	--cc-D-a1: #525252;
	--cc-F: #111;
	/* color palette */
	--cc-01: var(--cc-F);
	--cc-02: #ecebe9;
	--cc-03: #c00;
	/* named */
	--cc-field-fg: var(--cc-F);
	--cc-field-bg: var(--cc-A);
	--cc-field-border: var(--cc-C);
	--cc-field-border-F: var(--cc-F);
	--cc-label-secondary: var(--cc-D);
	--cc-slider-track: var(--cc-C-a1);
	--cc-slider-track-F: var(--cc-F);
	--cc-slider-thumb-bg: var(--cc-A);
	--cc-slider-thumb-border: var(--cc-D-d1);
	--cc-checkbox-bg: var(--cc-A);
	--cc-checkbox-bg-A: var(--cc-A-a1);
	--cc-checkbox-border: var(--cc-C);
	--cc-checkbox-border-F: var(--cc-F);
	--cc-checkbox-radio-dot: var(--cc-D-a1);
	--cc-cell-fallbackfont-fg: var(--cc-C-a1);
	--cc-row-label-fg: var(--cc-C-a1);
}

html {
	font: 400 100% / 1.2 var(--ff-01);
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}

body {
	color: var(--cc-01);
	background-color: var(--cc-02);
}
